BlockAndPass.WebService/Service References/LiquidacionWR/MC_LiquidacionService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://169.47.207.158:88/LiquidacionService/MC_LiquidacionService.svc?xsd=xsd2" namespace="http://www.MillensCorp.com/types/" />
  <xs:element name="getDatosLiquidacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.MillensCorp.com/types/" minOccurs="0" name="request" nillable="true" type="q1:Liquidacion_Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDatosLiquidacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.MillensCorp.com/types/" minOccurs="0" name="getDatosLiquidacionResult" nillable="true" type="q2:Liquidacion_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>